<ion-header>
  <ion-toolbar>
    <ion-title>Estimate #{{order?.docNumber}}</ion-title>
    <ion-button slot="start" fill="clear">
      <ion-back-button defaultHref="/home" color="dark" slot="icon-only"></ion-back-button>
    </ion-button>
    <ion-button slot="end" fill="clear" (click)="startScan()">
      <ion-icon name="scan"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs id="orderTabs" (ionTabsDidChange)="onTabChange($event)">
    <ion-tab-bar slot="top" class="tab-bar-padding">
      <ion-tab-button tab="uncounted">
        <ion-label>
          <h2>Uncounted ({{ uncountedCount }})</h2>
        </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="counted">
        <ion-label>
          <h2>Counted ({{ countedCount }})</h2>
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <!-- Uncounted Tab -->
    <ion-tab tab="uncounted">
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of uncountedItems" lines="full">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-text class="item-description">
                    <ion-icon name="logo-apple-ar"></ion-icon> <strong> {{ item?.description }} </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="4">
                  <ion-text class="item-name">
                    <ion-icon name="attach-outline"></ion-icon> {{ item?.name }} 
                  </ion-text>
                  <ion-text class="item-expiry">
                    <ion-icon name="calendar-outline"></ion-icon> <strong> {{ item?.expiryDate | date:'MM/d/y' }} </strong>
                  </ion-text>
                  <ion-text class="item-location">
                    📍<strong> {{ item?.location }} </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="4">
                  <ion-text>Required: <span class="quantity-info"> {{ item?.quantity }} </span></ion-text><br />
                  <ion-text>Scanned: <span class="quantity-info"> {{ item?.scannedQuantity }} </span></ion-text>
                </ion-col>
                <ion-col size="2">
                  <ion-icon (click)="increaseQty(item)" name="add-circle-outline" class="inc-icon"></ion-icon>
                  <ion-icon (click)="decreaseQty(item)" color="danger" name="remove-circle-outline" class="dec-icon"></ion-icon>
                </ion-col>
                <ion-col size="2" class="right-align">
                  <ion-icon (click)="markAsCompleted(item)" color="success" name="bag-check" class="completeBtn"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <!-- Counted Tab -->
    <ion-tab tab="counted">
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of countedItems" lines="full">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-text class="item-description">
                    <ion-icon name="logo-apple-ar"></ion-icon> <strong> {{ item?.description }} </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="8">
                  <ion-text class="item-name">
                    <ion-icon name="attach-outline"></ion-icon> {{ item?.name }} 
                  </ion-text>
                  <ion-text class="item-expiry">
                    <ion-icon name="calendar-outline"></ion-icon> <strong> {{ item?.expiryDate | date:'MM/d/y' }} </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="4" class="right-align">
                  <ion-text class="quantity-info">Required: <strong> {{ item?.quantity }} </strong></ion-text><br />
                  <ion-text class="quantity-info">Scanned: <strong> {{ item?.scannedQuantity }} </strong></ion-text>
                </ion-col>
                <ion-col size="12">
                  <ion-button (click)="removeFromCounted(item)" color="danger" expand="full"> Remove </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>
  </ion-tabs>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="startScan()">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #scanModal [initialBreakpoint]="0.5" [breakpoints]="[0, 0.5, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Scanned Item</ion-title>
          <ion-button slot="end" fill="clear" (click)="scanModal.dismiss()">Close</ion-button>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item *ngFor="let item of scannedItems" lines="full">
            <ion-grid>
              <ion-row>
                <ion-col size="12">
                  <ion-text class="item-description">
                    <ion-icon name="logo-apple-ar"></ion-icon> <strong> {{ item?.description }} </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="7">
                  <ion-text class="item-name">
                    <ion-icon name="attach-outline"></ion-icon> {{ item?.name }} 
                  </ion-text>
                  <ion-text class="item-expiry">
                    <ion-icon name="calendar-outline"></ion-icon> <strong> {{ item?.expiryDate | date:'MM/d/y' }} </strong>
                  </ion-text>
                  <ion-text class="item-location">
                    📍<strong> {{ item?.location }} </strong>
                  </ion-text>
                </ion-col>
                <ion-col size="5" class="right-align">
                  <div class="controls">
                    <ion-item lines="none" class="quantity-control">
                      <ion-icon slot="start" (click)="decreaseQty(item)" color="danger" name="remove-circle-outline" class="modal-inc-dec-icon"></ion-icon>
                      <ion-input [(ngModel)]="item.scannedQuantity" type="number" class="compact-input" readonly></ion-input>
                      <ion-icon slot="end" (click)="increaseQty(item)" name="add-circle-outline" class="modal-inc-dec-icon"></ion-icon>
                    </ion-item>
                  </div>
                  <ion-text>Required: <strong> {{ item?.quantity }} </strong></ion-text><br />
                </ion-col>
              </ion-row>
            </ion-grid>            
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer *ngIf="activeTab === 'counted' && uncountedCount == 0 && countedCount > 0">
  <ion-toolbar>
    <ion-button expand="block">
      {{ loading ? 'Uploading...' : 'Upload' }}
    </ion-button>
  </ion-toolbar>
</ion-footer>