.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; // Takes full height of ion-content
}

ion-item {
  width: 100%; // Ensures items take full container width
  margin-bottom: 20px; // Spacing between fields
}

.login-button {
  margin-top: 20px;
}